# If the script does not work, try this system dependency in your environment: sudo apt install ffmpeg


# Core
torch
torchaudio
numpy
librosa
soundfile

# Config
hydra-core
omegaconf

# Tracking
mlflow
dagshub
